<article class="reactive-form">
  <h2>Reactive Form</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <label class="row" [ngClass]="{'error': controlHasError('firstName'), 'error-required': myForm.hasError('required', 'firstName'), 'error-min-length-4': myForm.hasError('minlength', 'firstName')}">
      First name
      <input type="text" placeholder="First name" name="firstName" [formControl]="myForm.controls['firstName']">
    </label>
    <label class="row">
      Last name
      <input type="text" placeholder="Last name" name="lastName" [formControl]="myForm.controls['lastName']">
    </label>
    <label class="row" [ngClass]="{'error': controlHasError('email'), 'error-required': myForm.hasError('required', 'email'), 'error-email': myForm.hasError('invalidEmail', 'email')}">
      Email
      <input type="text" placeholder="Email" name="email" [formControl]="myForm.controls['email']">
    </label>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</article>