<article class="reactive-form">
  <h2>Reactive Form</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <label class="row" [class.error]="myForm.hasError('required', 'firstName')">First name
      <input type="text" placeholder="First name" name="firstName" [formControl]="myForm.controls['firstName']">
    </label>
    <label class="row">Last name
      <input type="text" placeholder="Last name" name="lastName" [formControl]="myForm.controls['lastName']">
    </label>
    <label class="row" [class.error]="myForm.hasError('required', 'email')">Email
      <input type="text" placeholder="Email" name="email" [formControl]="myForm.controls['email']">
    </label>
    <button type="submit">Submit</button>
  </form>
</article>